{% extends "base.html" %}

{% block content %}

<div class="container">
  <form method="POST">

    {# This hidden_tag is a CSRF security feature. #}

    {{ form.hidden_tag() }}

    <div class="form-group">

      <strong>{{ form.email.label(class="form-group") }}</strong>
      {{ form.email(class="form-control") }}<br>

    </div>

    <div class="form-group">

      <strong>{{ form.username.label(class="form-group") }}</strong>
      {{ form.username(class="form-control") }}<br>

    </div>

    <div class="form-group">

      <strong>{{ form.password.label(class="form-group") }}</strong>
      {{ form.password(class="form-control") }}<br>

    </div>

    <div class="form-group">

      <strong>{{ form.pass_confirm.label(class="form-group") }}</strong>
      {{ form.pass_confirm(class="form-control") }}<br>

    </div>

    <div class="form-group">

      {{ form.submit(class="btn btn-primary") }}

    </div>

  </form>
</div>

{% endblock %}
