alembic>=1.3.3
astroid>=2.3.3
bcrypt>=3.1.7
blinker>=1.4
certifi>=2019.11.28
cffi>=1.13.2
chardet>=3.0.4
Click>=7.0
Flask>=1.1.1
Flask-Bcrypt>=0.7.1
Flask-Dance>=3.0.0
Flask-DebugToolbar>=0.10.1
Flask-Login>=0.4.1
Flask-Migrate>=2.5.2
Flask-OAuth>=0.12
Flask-OAuthlib>=0.9.5
Flask-SQLAlchemy>=2.4.1
Flask-WTF>=0.14.2
gunicorn>=20.0.4
httplib2>=0.17.0
idna>=2.8
isort>=4.3.21
itsdangerous>=1.1.0
Jinja2>=2.11.1
lazy>=1.4
lazy-object-proxy>=1.4.3
Mako>=1.1.1
MarkupSafe>=1.1.1
mccabe>=0.6.1
oauth2>=1.9.0.post1
oauthlib>=2.1.0
Pillow>=7.0.0
pycparser>=2.19
pylint>=2.4.4
python-dateutil>=2.8.1
python-editor>=1.0.4
requests>=2.22.0
requests-oauthlib>=1.3.0
six>=1.14.0
SQLAlchemy>=1.3.13
SQLAlchemy-Utils>=0.36.1
typed-ast>=1.4.1
urllib3>=1.25.8
URLObject>=2.4.3
Werkzeug>=0.16.1
wincertstore>=0.2
wrapt>=1.11.2
WTForms>=2.2.1
